.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, 0.7)),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hero-text {
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 45px;
  font-weight: 600;
}
.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  background: #fff;
  color: #28231e;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.arrow-icon {
  width: 20px;
  margin-left: 10px;
  transition: filter 0.3s ease-out;
}

.hero-btn:hover {
  background: #6a994e;
  color: #fff;
}

.hero-btn:hover .arrow-icon {
  filter: invert(100%) brightness(2);
}
